<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
<!-- Navbar -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">EMPL[0]e</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#">UNDER CONSTRUCTION</a></li>

        </ul>
    </div>
</nav>

<!-- Navbar -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-primary">WELCOME ABOARD</h4>
                        <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      text-align: center;
    }
    .redirect-button {
      display: inline-block;
      padding: 10px 50px;
      background-color: #e0e0e0;
      color: #000;
      text-decoration: none;
      margin-top: 10px;
    }
                    </style>
                    <div class="container">
                        <p>Choose any operation:</p>
                        <a href="employee_register" class="redirect-button">ADD Employee</a> <br>
                        <a href="edit" class="redirect-button">EDIT Employee</a> <br>
                        <a href="find_page" class="redirect-button">FIND Employee</a> <br>
                        <a href="search_delete" class="redirect-button">DELETE Employee</a> <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>





